.formacao {
  background: #141414;
  color: #fff;
}

.formacao-titulo {
  color: #000;
  max-width: 5ch;
}

.formacao-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 120px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 64px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("/img/detalhe.svg") center center no-repeat;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao-info p {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #a3a3a3;
  max-width: 40ch;
  margin-bottom: 60px;
}

.formacao-info strong {
  font-weight: bold;
  color: #fff;
}

.formacao-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;
}

.formacao-card {
  flex: 1;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.formacao-card::before {
  content: "";
  width: 4px;
  height: 22px;
  background-color: greenyellow;
  position: absolute;
  left: -4px;
}

.formacao-card p {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.formacao-card h3 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  flex: 1;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  font-weight: bold;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}

.formacao-extra h3::before {
  content: "";
  background: url("/img/cursos.svg") center center;
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  left: -36px;
  top: -4px;
}

.idomas h3::before {
  background: url("/img/idiomas.svg") center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .formacao-container {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 40px 20px;
  }

  .formacao-container::after {
    width: 60px;
    height: 40px;
    bottom: -20px;
  }

  .formacao-info p {
    font-size: 1.25rem;
    max-width: 100%;
    margin-bottom: 32px;
  }

  .formacao-lista {
    margin-bottom: 64px;
  }

  .formacao-extra h3::before {
    left: 168px;
    top: -4px;
  }

  .idomas h3::before {
    background: url("/img/idiomas.svg") center center;
  }
}

@media (max-width: 450px) {
  .formacao-info p {
    font-size: 1rem;
  }
}
